* {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav,
.footer {
  font-weight: bold;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}

main {
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 25px;
}
